@{
    ViewBag.Title = "Update Member Information";
}

@using LibraryApplication.Data.Model
@model Member

<h2>ADD A NEW Member</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-12">Member Name</label>
        <div class="col-md-12">
            <input id="memberName" type="text" class="form-control" placeholder="Enter the member name" value="@Model.MemberName">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-12">Member Lastname</label>
        <div class="col-md-12">
            <input id="memberLastname" type="text" class="form-control" placeholder="Enter the member lastname" value="@Model.MemberLastname">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-12">Member Identity Number</label>
        <div class="col-md-12">
            <input id="identity" type="text" class="form-control" placeholder="Enter the Identity number" value="@Model.IdentityNumber">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Member Phone Number</label>
        <div class="col-md-12">
            <input id="phone" type="text" class="form-control" placeholder="Enter the phone number" value="@Model.PhoneNumber">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="button" id="updateMember" data-id="@Model.Id" class="btn btn-block btn-info" value="Add a New Member" />
        </div>
    </div>
</form>